<!doctype html>
<html lang="en">
  <head>	
    {% load static %}
    <meta charset="utf-8">
	<title>Electricity Bill Predictor</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">

    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
    
    <style>
        #header {
            margin-top: 50px;
        }

        #body {
            margin: 90px;
            margin-top: 0px;
            margin-bottom: 50px;
        }

        #main {
            background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.5)), url('../static/images/cover.jpg');
        }
    </style>
  </head>

  <body class="text-center" >
    
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" id="main">
      <header class="masthead mb-auto" id="header">
        <div class="inner">
            <h1 class="cover-heading" style="color: white;">Electricity Bill Predictor</h1>
            <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
            <a class="nav-link" href="{% url 'predictor' %}">Features</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover" id="body">
        
        <p class="lead">The total worldwide electricity consumption is increasing year by year which means high demand 
            for electricity. Lot of research has been done to reduce the consumption of energy, electricity in particular, 
            by using prediction methods where consumer usage and load is forecasted in kWh. This project focuses on predicting 
            the electricity bill at the residential level for the use of a household consumer. This helps in financial 
            preparedness and also to reduce electricity at the residential level which in turn helps in saving energy sources.

            Here, users get to predict the electricity bill for the up coming month by providing the information such number of heating days, 
            cooling days, total rooms, number of rooms heated, numbers of rooms cooled and the total electricity usage in Watts.  
            </p>
        <p class="lead">
            <br>
          <a class="btn btn-lg btn-dark" href="{% url 'predictor' %}">PROCEED TO PREDICT</a>
        </p>
      </main>

    <footer class="bg-dark text-center text-lg-start text-white">
      <div class="row">
        <div class="column" style="width: 50%; margin-top: 20px; padding-left: 100px; ">
            <h5 class="text-uppercase">Group Members:</h5>
                <ul class="list-unstyled" >
                <li>
                    <a href="#!" class="text-white">Norbu Dorji (12200068)</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Pema Chophel (12200069)</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Phuntsho Wangmo (12200074)</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Ugyen Tashi (12190103)</a>
                </li>
                </ul>
        </div>
        <div class="column" style="width: 50%; margin-top: 20px; padding-right: 100px;">
            <h5 class="text-uppercase">Contact Us:</h5>
                <ul class="list-unstyled" >
                <li>
                    <a href="#!" class="text-white">12200068.gcit@rub.edu.bt</a>
                </li>
                <li>
                    <a href="#!" class="text-white">12200069.gcit@rub.edu.bt</a>
                </li>
                <li>
                    <a href="#!" class="text-white">12200074.gcit@rub.edu.bt</a>
                </li>
                <li>
                    <a href="#!" class="text-white">12190103.gcit@rub.edu.bt</a>
                </li>
                </ul>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 
        GCIT
      </div>
    
    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
